/** QR code scanner couldnt be scanner **/

#html5qr-code-full-region__scan_region {
    display: flex;
    justify-content: center;
    border-radius: 12px;
}
  
button.html5-qrcode-element {
    border-radius: var(--chakra-radii-md);
    font-weight: var(--chakra-fontWeights-semibold);
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    height: var(--chakra-sizes-10);
    min-width: var(--chakra-sizes-10);
    font-size: var(--chakra-fontSizes-md);
    -webkit-padding-start: var(--chakra-space-4);
    padding-inline-start: var(--chakra-space-4);
    -webkit-padding-end: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);
    background: var(--chakra-colors-green-500);
    color: var(--chakra-colors-white);
}

#html5qr-code-full-region__header_message {
    font-weight: var(--chakra-fontWeights-semibold);
}

select.html5-qrcode-element {
    padding-inline-end: var(--chakra-space-8);
    display: block;
    margin: 10px auto;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    padding-bottom: 1px;
    line-height: var(--chakra-lineHeights-normal);
    --select-bg: var(--chakra-colors-white);
    font-size: var(--chakra-fontSizes-md);
    padding-inline-start: var(--chakra-space-4);
    height: var(--chakra-sizes-10);
    border-radius: var(--chakra-radii-md);
    border-width: 1px;
    background-color: var(--chakra-colors-blue-100);
    border-style: solid;
    border-image: initial;
    border-color: inherit;
}
